
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@subscription) do |f| %>

      <%= f.label :user_id %>
      <%= f.number_field :user_id, class: 'form-control' %>

      <%= f.label :course_id %>
      <%= f.number_field :course_id, class: 'form-control' %>

      <%= f.label :grade %>
      <%= f.number_field :grade, class: 'form-control' %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>